In [1]:
# import World Bank data
import wbdata
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
 
from scipy import stats

In [3]:
#import csv van 15 slechtse landen
CPIA_worst15 = pd.read_csv("CPIA_worst15.csv")
CPIA_worst15["date"] = CPIA_worst15["date"].astype(int) 
#CPIA_worst15

In [ ]:
#Deelvraag 5
#HD.HCI.EYRS.MA   	Expected Years of School, Male
#HD.HCI.EYRS.FE   	Expected Years of School, Female
#HD.HCI.EYRS      	Expected Years of School
#HD.HCI.OVRL.MA      	Human Capital Index (HCI), Male (scale 0-1)
#HD.HCI.OVRL.FE      	Human Capital Index (HCI), Female (scale 0-1)

In [1]:
def clean(dataset):
    #create data frame
    name = pd.DataFrame(wbdata.get_data(dataset))
    
    #clean the date
    name['country_code'] = name.country.astype(str).str.slice(8,10)
    name['country'] = name.country.astype(str).str.slice(23,-2)
    name['indicator'] = name.indicator.astype(str).str.slice(35,-2)
    name["date"] = name["date"].astype(int) 
    name["value"] = name["value"].astype(float).round(2)
    
    CPIA_worst15 = pd.read_csv("CPIA_worst15.csv")
    CPIA_worst15["date"] = CPIA_worst15["date"].astype(int) 
    
    years = name.loc[(name['date'] >= 2007) & (name['date'] <= 2017)]

    years_worst = years[years.country.isin(list(CPIA_worst15.country))]
    years_worst_sorted = years_worst.sort_values(by='date',ascending=True)
    
    for i in years_worst_sorted.country.unique():
        years_worst_sorted.loc[years_worst_sorted['country'] == i]  = years_worst_sorted.loc[(years_worst_sorted['country'] == i)].ffill().bfill()
    return years_worst_sorted

In [9]:
clean("HD.HCI.EYRS.FE")

,country,date,decimal,indicator,value,country_code
0,Afghanistan,2017,1,"Expected Years of School, Female",6.73,AF
22,Chad,2017,1,"Expected Years of School, Female",4.30,TD
27,"Congo, Dem. Rep.",2017,1,"Expected Years of School, Female",8.86,CD
53,Haiti,2017,1,"Expected Years of School, Female",11.45,HT
70,Kiribati,2017,1,"Expected Years of School, Female",NaN,KI
87,Mali,2017,1,"Expected Years of School, Female",5.11,ML
103,Niger,2017,1,"Expected Years of School, Female",4.87,NE
107,Pakistan,2017,1,"Expected Years of School, Female",8.06,PK
129,South Sudan,2017,1,"Expected Years of School, Female",3.55,SS
132,Sudan,2017,1,"Expected Years of School, Female",NaN,SD
154,"Yemen, Rep.",2017,1,"Expected Years of School, Female",7.33,YE